<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
    <div class="container-login">
        <div>
            <form class="login-form" id="login-form">
                <span>Seja bem vindo ao DevGo!</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite seu email" required>
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Digite sua senha" required>
                </div>
                <button type="submit" class="btn-submit">Login</button>
                <a href="/signup-user">Clique aqui para criar sua conta!</a>
            </form>
        </div>
    </div>

    {{ template "footer" }}
    <script src="/assets/js/login.js"></script>
</body>
</html>