<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {{ template "header" }}

    <title>DevGo - Atualizar senha</title>
</head>
<body>
    {{ template "navbar" }}

    <div class="container">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Atualizar senha</h3>
                <form id="update-password">
                    <div class="form-group">
                        <label for="old-password">Senha atual</label>
                        <input 
                            type="password"
                            class="form-control"
                            id="old-password"
                            name="old-password"
                            placeholder="Insira sua senha atual"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <label for="new-password">Nova senha</label>
                        <input 
                            type="password"
                            class="form-control"
                            id="new-password"
                            name="new-password"
                            placeholder="Insira sua nova senha"
                            required
                        >
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Confirme nova senha</label>
                        <input 
                            type="password"
                            class="form-control"
                            id="confirm-password"
                            name="confirm-password"
                            placeholder="Confirme sua nova senha"
                            required
                        >
                    </div>
                    <button type="submit" class="btn btn-sm btn-info">
                        Atualizar senha
                    </button>
                </form>
            </div>
        </div>
    </div>

    {{ template "footer" }}
    <script src="/assets/js/update-password.js"></script>
</body>
</html>